@mixin backgroundImgText($backGroundUrl){
    background: url($backGroundUrl) no-repeat center;
    height: 120vh;
    padding-top: 1px;
    border: solid red;
    position: relative;
    width: 100vw;
}

.main__backgroundImg{
    @include backgroundImgText("images/mobile/image-header.jpg");
  }

  .cherryContainer{
  @include backgroundImgText("./images/mobile/image-graphic-design.jpg");
  background-position: top;
}

