@mixin flexCenter($justify-content){
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin bgLinkBehind{
    content: "";
    width: 100px;
    height: 10px;
    top:16px;
    position: absolute;
   
}

.sectionContainer{
    @include flexCenter(space-evenly);
    height: 50vh;
    flex-direction: column;
    margin: 1em;
    text-align: center;
    }
    .heading{
        font-size: 2em;
        }
    .paragraph{
            font-size: 1.2em;
            font-weight: 100;
        }
    .link__orange, .link__red{
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 800;
            color: black;
            position: relative;
        }
        .link__orange::before{
            @include bgLinkBehind();
            background: rgb(236 160 17/.6);
        }
        .link__red::before{
           @include bgLinkBehind();
           background: rgb(255 0 0/.6);
        }
    