@mixin flexEvenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin bgLinkBehind{
    content: "";
    width: 100%;
    height: 10px;
    top:16px;
    position: absolute;
    z-index: -2;
}

.sectionContainer{
    @include flexEvenly();
    height: 50vh;
    flex-direction: column;
    margin: 1em;
    text-align: center;
    }
    .heading{
        font-size: 2em;
        }
    .paragraph{
            font-size: 1.2em;
            font-weight: 100;
        }
    .link{
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 800;
            color: black;
            position: relative;
        }
        .link__orange::before{
            @include bgLinkBehind();
            background: rgb(236 160 17/.6);
        }
        .link__red::before{
           @include bgLinkBehind();
           background: rgba(255 0 0/.6);
        }
      