@media (min-width: 750px){
// nav
.main__backgroundImg{
    background-size: cover;}
    .nav__hamburger{
        opacity: 0;
    }
    .nav__link{
        right:0px;
    }
    .nav__linksContact{
        background-color: white;
        border-radius:50px;
        padding: 15px;
        color: black;
    }
}