@media (min-width: 750px){
// nav

    .nav__hamburger{
        opacity: 0;
    }
    .nav__link{
        right:0px;
    }
    .nav__linksContact{
        background-color: white;
        border-radius:50px;
        padding: 15px;
        color: black;
    }
    .main__backgroundImg{
        background: url("./images/desktop/image-header.jpg") no-repeat center/cover ;
        background-color: #3ebfff;

    }
    .main__header{
        width: 100%;
    }
    .main__header-arrowImage{
        top:350px;
    }
    .grid__mainTextImg{
        display: grid;
        grid-template-rows: repeat(2,1fr);
    
    }
}