*{
    margin: 0;
    padding: 0;
    outline: solid rgb(0 255 0/1)
    
}


.header{
    background: url(./images/mobile/image-header.jpg) center/cover;
    height: 700px;
}
.header__logoAndNav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 50px;
    padding-top:20px;

}

.header__logo{
    width: 40px;
    margin-left: 10px;;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.8em;
    color: white;
}
.header__burger{
    height: 20px;
    width: 25px;
    margin-right: 10px;

}
.header__direction{
    position: relative;
    height: 80px;
    color: white;
    font-weight: 800;
    line-break: auto;
    font-size: 1.8em;
    top: 24%;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .2em;
}

.header__direction::after{
    transform: scale(1.1);
    content: url(./images/icon-arrow-down.svg);
    height: 200px;
    position: absolute;
    margin-left: -10px;
    top:165px;
}

/* main */

.main__egg{
    background: url(./images/mobile/image-transform.jpg) center/cover;
    height: 400px;
}

.main__transformYourBrand,.main__standOutText{
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transformYourBrand__heading,.standOutText__header{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}
.transformYourBrand__text,.standOutText__text{
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}
.transformYourBrand__link--yellow, .standOutText__link--red{
    text-decoration: none;
    color: black;
    position: relative;
}

.transformYourBrand__link--yellow::after{
    content: "";
    position: absolute;
    top: 14px;
    left: -2px;
    width: 110px;
    height: 4px;
    background-color: rgba(214, 212, 50, 0.5);
    z-index: -2;
}
.main__standOut{
    background: url(./images/mobile/image-stand-out.jpg) center/cover;
    height: 400px;
}
.standOutText__heading{
    text-align: center;
}
.standOutText__link--red::after{
    content: "";
    position: absolute;
    top: 14px;
    left: -2px;
    width: 110px;
    height: 4px;
    background-color:  rgb(255 116 101/ .5);
    z-index: -2;
}

/* Cherry */
.main__graphicDesign{
    background: url(./images/mobile/image-graphic-design.jpg) center/cover;
    height: 750px;
    position: relative;
}

.graphicDesign__container{
    position: absolute;
    bottom: 90px;
    text-align: center;
}
.graphicDesign__heading{
    margin-bottom: 40px;
    font-size: 2em;
    color: hsl(163, 28%, 25%);
}
.graphicDesign__text{
    font-size: 1.5em;
    color: hsl(163, 28%, 25%);
}

/* photo */
.main__photo{
    background: url(./images/mobile/image-photography.jpg) center/cover;
    height: 750px;
    position: relative;
}

.photo__container{
    position: absolute;
    bottom: 90px;
    text-align: center;
}
.photo__heading{
    margin-bottom: 40px;
    font-size: 2em;
    color: hsl(205, 71%, 25%);
}
.photo__text{
    font-size: 1.5em;
    color: hsl(205, 71%, 25%);
}

/* testimonial */
.main__testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 20px;
}

.testimonial__person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.person__text{
    padding: 20px;
}
.person__name{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.1em;
}
.person__role{
    color: hsla(0, 0%, 40%, .5);
    font-size: .8em;
}
.person__img{
    border-radius: 50%;
    height: 50px;
}
/* Image Gallery */
.main__imgGallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 200px;
}

.imgGallery__img{
    width: 100%;
    aspect-ratio: 1;
}