*{
    margin: 0;
    padding: 0;
    outline: solid rgb(0 255 0/1)
    
}


.header{
    background: url(./images/mobile/image-header.jpg) center/cover;
    height: 700px;
}
.header__logoAndNav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 50px;
    padding-top:20px;

}

.header__logo{
    
    width: 40px;
    margin-left: 10px;;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.8em;
    color: white;
}
.header__burger{
    height: 20px;
    width: 25px;
    margin-right: 10px;

}
.header__direction{
    position: relative;
    height: 80px;
    color: white;
    font-weight: 800;
    line-break: auto;
    font-size: 1.8em;
    top: 24%;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .2em;
}

.header__direction::after{
    transform: scale(1.1);
    content: url(./images/icon-arrow-down.svg);
    height: 200px;
    position: absolute;
    margin-left: -10px;
    top:165px;
}

/* main */

.main__egg{
    background: url(./images/mobile/image-transform.jpg) center/cover;
    height: 400px;
}

.main__transformYourBrand{
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transformYourBrand__heading{
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}
.transformYourBrand__text{
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}
.transformYourBrand__link{
    text-decoration: none;
}