*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: solid rgb(0 255 0/1)

}
.header{
    background: url(./images/mobile/image-header.jpg) center/cover;
    position: absolute;

}
.header__logoAndNav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 50px;

}

.header__logo{
    height: 20px;
    width: 40px;
    margin-left: 10px;;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
.header__burger{
    height: 20px;
    width: 25px;
    margin-right: 10px;

}
